aside {
    width: 120px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4B5;
    padding: 5px;
}

main {
    max-width: 70em;
    position: absolute;
    top: 0;
    left: 140px;
}

h1, h2, a, th {
    color: #394;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #485;
}

th, td {
    padding: 3px 8px;
    text-align: center;
}
