a {
    color: #394;
}
aside, aside a, a.btn {
    color: #222;
}
ul.social a.sc-rss {
    background-color: #4B5;
}
ul.social a {
    color: #D9411E;
}
a.btn {
    background-color: #4B5;
}
a.btn:hover {
    background-color: #5D6;
}
aside {
    background-color: #4B5;
}
aside div img {
    border-radius: 0%;
}
aside nav ul li {
    text-transform: none;
}
